[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
dill = "*"
intermine = "*"
pipenv = "*"
"primer3-py" = "*"
jdna = {path = "./../jdna"}
pydent = {path = "./../trident"}
pyblast = {path = "./../pyblast"}
"primer3plus" = {path = "./../primer3-py-plus"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
sphinx = "*"
guzzle-sphinx-theme = "*"
docformatter = "*"

[requires]
python_version = "3.6"
