[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"primer3-py" = "*"
pandas = "*"
jdna = {path = "./../jdna"}
tqdm = "*"
pydent = {path = "./../trident"}
dill = "*"
intermine = "*"
pyblast = {path = "./../pyblast"}
pipenv = "*"
"primer3plus" = {path = "./../primer3-py-plus"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
